@import "tailwindcss";

@theme {
    --color-primaria: rgba(217, 217, 217, 1);
    --color-secundaria: rgba(0, 0, 41, 1);
    --color-terciaria: rgba(0, 100, 255, 1);
    --color-botoes: rgba(45, 0, 160, 1);
    --background-image-fundo: white;
    --background-image-fundo2: radial-gradient(circle,rgba(217, 217, 217, 1) 0%, rgba(214, 214, 214, 1) 100%);
}

*{
  background-color: --background-image-fundo;
}

@keyframes scrollBlur {
  0% { filter: blur(8px); opacity: 0.4; transform: scale(0.95); }
  30%, 75% { filter: blur(0px); opacity: 1; transform: scale(1); }
  100% { filter: blur(8px); opacity: 0.4; transform: scale(0.95); }
}
